@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    color: white;
    font-family: 'Creepster', cursive;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.side-bar {
    flex-grow: 1;
    background-color: #202123;
    width: 244px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .history {
    overflow-y: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('/client/image/layered-waves-haikei.png');
    background-size: cover;
    padding: 20px;
}

.chat-frame {
    width: 100%;
    max-width: 800px;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    background-color:rgba(255, 235, 205, 0.5);
}

.chat-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 50px;
    height: auto;
}

.input-container {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color:#c62368;
    border-top: 1px solid #fff;
    align-items: center;
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.input-container #submit {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
}

button {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

nav {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.history {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-container, .audio-container {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
}

.user-message {
    text-align: left;
    margin: 10px 0;
    width: 70%;
    background-color: lightpink;
    color:black;
    border-radius: 10px;
}

.chatbot {
    text-align: left;
    margin: 10px 0;
    max-width: 100%; 
    background-color: lightblue;
    border-radius: 10px;
    color: black;
}

